{% extends 'base.html.twig' %}

{% block title %}
    Ваш заказ - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2>Заказ</h2>

        {% include 'order/items.html.twig' with{'order': order} %}

        <a href="{{ path('order_complete') }}">Оформить заказ</a>
    </div>
{% endblock %}